.back-link {
  margin-bottom: 24px;
}

.text-field {
  margin-bottom: 8px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-field {
  width: 360px;
  height: 40px;
}

.change-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
  width: 360px;
  height: 78px;
  padding: 24px 48px 8px;
}

.btn {
  width: 360px;
  height: 40px;
}
