.datetime-picker-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  margin-top: 32px;
}

.flatpickr-input {
  padding: 8px 16px;
  border-radius: 8px;
  width: 272px;
  height: 40px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-color: #808080;
}

.flatpickr-input:hover {
  border-color: #000000;
}

.btn {
  display: block;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn:disabled {
  background: #cfcfcf;
  color: #989898;
}

.btn:hover {
  background: #6c8cff;
  color: #fff;
}

.flatpickr-day.today {
  background: transparent;
  border: 1px solid #4e75ff !important;
}

.flatpickr-day:hover {
  color: #666 !important;
  background-color: #c1c1c1;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;

  width: 346px;
  height: 72px;

  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-size: 40px;
  line-height: 1.2;
}

.field .label {
  text-transform: uppercase;
}
